@model List<Project2BurgerMenu.Entities.Product>
<section class="site-section" id="section-gallery">
    <div class="container">
        <div class="row site-custom-gutters">

            <div class="col-md-12 text-center mb-5 site-animate">
                <h2 class="display-4">Gallery</h2>
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <p class="lead"></p>
                    </div>
                </div>
            </div>

            @foreach (var item in Model)
            {

                <div class="col-md-4 site-animate">
                    <a href="@item.ImageUrl" class="site-thumbnail image-popup">
                        <img src="@item.ImageUrl" alt="Free Template by colorlib.com" class="img-fluid" style="height:300px;">
                    </a>
                </div>
            }

        </div>
    </div>
</section>